<div class="container">
    <h1 class="title">NUESTROS PRODUCTOS</h1>
  <div class="gallery">
    {{#each products}}
      <div class="product">
        <h2>{{this.title}}</h2>
          <img src="{{this.img}}" alt="{{this.title}}">
        <p>{{this.description}}</p>
        <p>Price: {{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
      </div>
    {{/each}}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
