<div class="container">
    <nav>
  {{#if isAdmin}}
  <div class="user-dropdown">
    <button class="user-dropdown-btn">
      <a href="/admin">CONTROL</a>
    </button>
  </div>
    {{/if}}
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/products">PRODUCTOS</a></li>
    <li><a href="/cart/646267ba8cc04a3efca60438">CARRITO</a></li>
  </ul>
  {{#if message}}
  {{message}}
    {{/if}}
  <div class="user-dropdown">
    <button class="user-dropdown-btn"> {{user.role}}</button>
    <div class="user-dropdown-content">
      <p class="users">User: {{user.name}}</p>
      <p>Email: {{user.email}}</p>
      <a href="/profile"><button>Mi perfil</button> </a>
      <a href="/api/session/logout">
        <button>Cerrar Sesión</button>
      </a>
    </div>
  </div>
</nav>
    <h1 class="title">CATALOGO</h1>
    <div class="formulario">
        <form action="/products" method="get">
            <input  class="input" type="text" name="query" placeholder="Buscar producto...">
            <button type="submit">Buscar</button>
        </form>
    </div>
    {{#if message}}
        <div class="alert alert-warning">{{message}}</div>
    {{/if}}
    <div class="gallery">
        {{#each products}}
            <div class="product">
                <h2>{{this.title}}</h2>
                <img src="{{this.img}}" alt="{{this.title}}">
                <p>{{this.description}}</p>
                <p>Category: {{this.category}}</p>
                <p>Price: {{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <button>Agregar al carrito</button>
            </div>
        {{/each}}
    </div>
    <div>
        {{#if prevPage}}
            <a href="/products?{{#if urlParams.query}}query={{urlParams.query}}&{{/if}}{{#if urlParams.sort}}sort={{urlParams.sort}}&{{/if}}{{#if urlParams.category}}category={{urlParams.category}}&{{/if}}page={{prevPage}}"><button class="button2">Anterior</button></a>
        {{/if}}
        {{#if nextPage}}
            <a href="/products?{{#if urlParams.query}}query={{urlParams.query}}&{{/if}}{{#if urlParams.sort}}sort={{urlParams.sort}}&{{/if}}{{#if urlParams.category}}category={{urlParams.category}}&{{/if}}page={{nextPage}}"><button class="button2">Siguiente</button></a>
        {{/if}}
    </div>
</div>